# to run sudo PATH/logstash -f PATH/log.config
# to find where logstash is installed run "whereis service_name"
#
input {
  file {
    path => "/home/hiaahrma/crime.csv"
    start_position => "beginning"
    # to read from the beginning of file
    sincedb_path => "/dev/null"
  }
}

filter {
    csv {
        columns => ["INCIDENT_NUMBER","OFFENSE_CODE","OFFENSE_CODE_GROUP",
        "OFFENSE_DESCRIPTION","DISTRICT","REPORTING_AREA","SHOOTING","OCCURRED_ON_DATE",
        "YEAR","MONTH","DAY_OF_WEEK","HOUR","UCR_PART","STREET","Lat","Long","Location"]
    }
}


output {
    stdout { codec => rubydebug }
    elasticsearch {
        hosts => "localhost"
        index => "crime"
        document_type => "crime"
    }
}
